<mat-card>

  <mat-card-header>
    <mat-card-title>Cadastro de Usuário</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>

    <form [formGroup]="userForm" (ngSubmit)="submitted = true">

      <div>
        <label>Nome*</label>
        <input type="text" formControlName="name" placeholder="Digite seu nome">

        <small *ngIf="submitted && userForm.controls['name'].errors?.['required']">
          Nome é obrigatório
        </small>

        <small *ngIf="submitted && userForm.controls['name'].errors?.['minlength']">
          Nome deve ter no mínimo 3 caracteres
        </small>
      </div>

      <div>
        <label>Email*</label>
        <input type="email" formControlName="email" placeholder="Digite seu email">

        <small *ngIf="submitted && userForm.controls['email'].errors?.['required']">
          Email é obrigatório
        </small>

        <small *ngIf="submitted && userForm.controls['email'].errors?.['email']">
          Email inválido
        </small>
      </div>

      <div>
        <label>Telefone*</label>
        <input type="text"
               formControlName="phone"
               mask="(00) 00000-0000"
               placeholder="(00) 00000-0000">

        <small *ngIf="submitted && userForm.controls['phone'].errors?.['required']">
          Telefone é obrigatório
        </small>
      </div>

      <div>
        <label>Senha*</label>
        <input type="password" formControlName="password" placeholder="Digite sua senha">

        <small *ngIf="submitted && userForm.controls['password'].errors?.['required']">
          Senha obrigatória
        </small>

        <small *ngIf="submitted && userForm.controls['password'].errors?.['strongPassword']">
          8 caracteres, 1 maiúscula e 1 número
        </small>
      </div>

      <button mat-raised-button color="primary" type="submit">
        Enviar
      </button>

    </form>

  </mat-card-content>

</mat-card>