:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f4f6;
  font-family: Roboto, sans-serif;
}

/* Form Card */

mat-card {
  width: 420px;
  padding: 35px;

  background: white;

  border-radius: 14px;

  border: 2px solid #6b7280;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.08),
    0 2px 6px rgba(0,0,0,0.05);
}

/* Title */

mat-card-title {
  font-size: 24px;
  font-weight: 600;
  color: #1f2937;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}

/* LABELS */

label {
  font-weight: 500;
  color: #374151;
}

/* INPUTS */

input {
  width: 100%;
  padding: 11px;

  border-radius: 8px;

  border: 1px solid #d1d5db;

  font-size: 14px;

  transition: all 0.2s ease;
}

/* FOCUS */

input:focus {
  outline: none;

  border: 2px solid #6b7280;

  box-shadow: 0 0 0 3px rgba(107,114,128,0.2);
}

/* Button */

button {
  width: 150px;
  padding: 10px;

  border-radius: 30px;

  font-weight: 600;

  background: #6b7280;

  color: white;

  transition: 0.2s;
}

button:hover {
  background: #4b5563;
}

/* ERRORS */

small {
  color: #dc2626;
  font-size: 12px;
}